<!DOCTYPE html>
<html>
<head>
  <title>主页</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <base href="" target="_blank">
</head>
<body>

<div class="container" id="main-contain">
  <h1 class="text-center bg-success" style="border: 1px solid #ddd;color: #CCCC00;padding: 5px;border-radius:2px">积跬步,至千里.集小流,成江河</h1>

  <div class="panel panel-primary">
    <div class="panel-body text-center" style="margin: auto 0px">
      <ul class="list-group col-md-12" style="max-height: 400px; text-align: center">
        <li class="list-group-item col-md-3 menu-list-item text-center" v-for="item in menu"><a :href="item.href" >{{item.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="libs/vue/dist/vue.min.js"></script>
<script>
  var bodyVue=new Vue({
      el:"#main-contain",
      data:{
          menu:[
              {name:'目录展示',href:'/menu',des:'',className:'',flag:''},
              {name:'聊天室',href:'/chat',des:'',className:'',flag:''},
              {name:'抓包',href:'/crawler',des:'',className:'',flag:''},
              {name:'列表分页',href:'/list',des:'',className:'',flag:''},
              {name:'地图',href:'/map',des:'',className:'',flag:''},
              {name:'Echart',href:'/echart/index',des:'',className:'',flag:''},
              {name:'Canvas',href:'/canvas',des:'',className:'',flag:''},
              {name:'Mongodb',href:'/mongodb',des:'',className:'',flag:''},
              {name:'游戏',href:'',des:'/game/index',className:'',flag:''},
              {name:'数据结构',href:'/data-structure',des:'',className:'',flag:''},
              {name:'算法题',href:'/algorithm/index',des:'',className:'',flag:''},
              {name:'设计模式',href:'/design-pattern/index',des:'',className:'',flag:''},
              {name:'ES6',href:'/es6/index',des:'',className:'',flag:''},
              {name:'VUE',href:'/vue/index',des:'',className:'',flag:''},
              {name:'Music',href:'/music/index',des:'',className:'',flag:''}]
      }
  })

</script>
</body>
</html>
