<!DOCTYPE html>
<html>
<head>
    <title>数据结构</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <base href="" target="_blank">
</head>
<body>
<div class="container" id="main-contain">
    <div><p>1:将一个排列好的整型数组转化为二叉树</p></div>
    <p>11</p>

</div>

<script src="libs/vue/dist/vue.min.js"></script>
<script>
    var arr = [1, 2, 3, 4, 5, 6, 7, 8]
    function Node(data, left, right) {
        this.data = data;
        this.left = left;
        this.right = right;
    }

    function BST() {
        this.root = null;
        this.inser = insert;
    }

    function insert(data, current) {
        var n = new Node(data, null, null);
        if (this.root == null) {
            this.root = data;
            return n;
        } else {
            var next = current.left;
            next = n;
            return next;
        }
    }

    var global_current = new Node(null,null,null);
    for (var i = 0; i < arr.length; i++) {
        var item = arr[i];
        global_current = insert(item,global_current);
    }
    console.log(BST)

</script>
</body>
</html>
