<!DOCTYPE html>
<html>
<head>
    <title>Nodejs抓包</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

<div class="container" id="main-contain">
    <div class="panel panel-warning" style="margin-top: 20px">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="col-md-6">
                    <label class="col-md-4 control-label">目标地址:</label>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="target_href">
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-4 control-label">选择器:</label>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="selector">
                    </div>
                </div>
            </form>
            <div class="text-center col-md-12" style="margin-top: 100px;margin-bottom: 20px">
                <button class="btn btn-md btn-success">开始抓取数据</button>
            </div>

            <div class="panel panel-success">
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                        <thead>
                        <tr class="text-center">
                            <th>诗id</th>
                            <th>名字</th>
                            <th>地址</th>
                            <th>作者</th>
                            <th>朝代</th>
                            <th>标签</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
<script src="libs/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
<script>

</script>
</body>
</html>
