body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.menu-list-item{
  text-align: center;
  margin: 5px;
}

.menu-list-item a{
  height: 100%;
  line-height: 100%;
  width: 100%;
  display: block;
  padding: 20px 5px;
}
.menu-show-checkbox{
  margin-right: 1px;
}
.menu-show-checkbox label{
  padding: 10px 2px;
  margin-right: 2px;
}