<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>走过的路</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.4.1&key=d799a2887868628bf7782fcd6b2c0ed1&plugin=AMap.Autocomplete,AMap.Riding"></script>
</head>

<body>
<div id="container"></div>
<div id="tip"></div>
<div id="myPageTop">
    <table>
        <tr>
            <td>
                <label>按关键字搜索：</label>
            </td>
            <td class="column2">
                <label>左击获取经纬度：</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="请输入关键字进行搜索" id="tipinput">
            </td>
            <td class="column2">
                <input type="text" readonly="true" id="lnglat">
            </td>
        </tr>
    </table>
</div>
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/socket.io-client/dist/socket.io.js"></script>
<script src="/webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script src="/map/index.js"></script>

</body>

</html>