<!DOCTYPE html>
<html>
<head>
    <title>主页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style type="text/css">
        *{margin: 0;padding: 0}
        .left_menu {
            float: left;
            border: 1px solid #ddd;
            padding: 10px;
            width: 234px;
            margin-left: 10px;
            margin-top: 10px;
        }

        .left_menu .menu_ul {
            list-style: none;
            text-align: center;
        }

        .left_menu .menu_ul li.menu_li {
            line-height: 30px;
            height: 30px;
            border-bottom: 1px solid #ddd;
            font-size: 22px;
            margin-top: 10px;
            padding: 5px;
        }

        .left_menu .menu_ul li.menu_li:hover {
            background-color: #ffeb3b
        }

        .left_menu .menu_ul li.menu_li.active {
            background-color: #ffeb3b
        }

        .li_href {
            display: block;
            cursor: pointer;
        }

        .main_content {
            float: left;
            margin-top: 10px;
            border: 1px solid #ddd;
            margin-left: 50px;
            border-radius: 4px;
            min-height: 200px;
            width: 40%;
            float: left;
            padding: 10px 20px;
            text-align: left;
            font-family: cursive;
            font-size: large;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="left_menu">
        <ul class="menu_ul">
            <li class="menu_li" v-for="item in menuArr">
                <a class="li_href" @click="getContent(item._id)">{{item.title}}</a>
            </li>
        </ul>
    </div>
    <div class="main_content">
        <p v-html="content"></p>
    </div>
</div>
<script src="libs/vue/dist/vue.min.js"></script>
<script src="libs/axios/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            menuArr: [],
            content: '',
        },
        created: function () {
            let _this = this;
            axios.post('/queryPoetryData', {}).then((res) => {
                _this.menuArr = res.data.data;
            })
        },
        methods: {
            getContent(id) {
                let _this = this;
                axios.post('/queryPoetryById', {id: id}).then((res) => {
                    _this.content = res.data.data.content
                })
            }
        }
    })
</script>
</body>
</html>
